
li{
    flex: 1;
   }

.container-fluid {
  background:wheat;
}

header{
  font-size:70px ;
}

h1 {
  font-size: 50px;
  color: rgb(100, 224, 224);
  padding-top: 15px;
  padding-bottom: 15px;
}

h2{
  font-size: 50px;
  color:rgb(100, 224, 224);
  padding-top: 25px;
  padding-bottom: 25px;
}
h3{
 color:black;
 font-size: 50px;
 text-align: center;
}
p{
  font-size: 18px;
 }

/* Giving our navbar some padding and a background color */

.navbar-nav {
  padding: 5px;
  background:wheat;
  border-radius:4px;
  font-size:16px;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.nav-item{
  display:inline-block;
  padding:10px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius:4px; 
  
}

.dropdown-item {
  background:wheat;
  margin: 1px;
  border: radius 7;
}

.dropdown-item.hover {
  background:rgb(214, 184, 127);
  margin: 1px;
  border: radius 7;
}

/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}

li {padding:20px;

}
